# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

# Gradle
.gradle/
build/
out/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.venv
venv/
ENV/
env/
.env
.mypy_cache/
.tox/

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
